################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session1/EFCoreAssignment/obj
/Session2/EFCoreAssignment/obj
/.vs
/Session3/EFCoreAssignment.API/obj
/Session3/EFCoreAssignment.Data/obj
/Session3/EFCoreAssignment.Services/obj
/Session3/EFCoreAssignment.API/bin/Debug/net6.0
/Session3/EFCoreAssignment.Data/bin/Debug/net6.0
/Session3/EFCoreAssignment.Services/bin/Debug/net6.0
/Session3/.vs
/Session4/InventoryAppEFCore.API/obj
/Session4/.vs
/Session4/InventoryAppEFCore.DataLayer/obj
/Session4/InventoryAppEFCore.API/bin/Debug/net6.0
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0
/Session4/InventoryAppEFCore.DataLayer/bin/Debug/net6.0
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0/InventoryAppEFCore.API.assets.cache
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0/InventoryAppEFCore.API.csproj.AssemblyReference.cache
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0/InventoryAppEFCore.API.GeneratedMSBuildEditorConfig.editorconfig
/Session5/InventoryAppEFCore.API/bin/Debug/net6.0
/Session5/InventoryAppEFCore.API/obj
/Session5/InventoryAppEFCore.DataLayer/bin/Debug/net6.0
/Session5/InventoryAppEFCore.DataLayer/obj
/Session5/.vs
