################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session1/EFCoreAssignment/obj
/Session2/EFCoreAssignment/obj
/.vs
/Session3/EFCoreAssignment.API/obj
/Session3/EFCoreAssignment.Data/obj
/Session3/EFCoreAssignment.Services/obj
/Session3/EFCoreAssignment.API/bin/Debug/net6.0
/Session3/EFCoreAssignment.Data/bin/Debug/net6.0
/Session3/EFCoreAssignment.Services/bin/Debug/net6.0
/Session3/.vs
